# Continuous Integration (CI) is the practice, in software
# engineering, of merging all developer working copies with a shared mainline
# several times a day < http://docs.platformio.org/page/ci/index.html >
#
# Documentation:
#
# * Travis CI Embedded Builds with PlatformIO
#   < https://docs.travis-ci.com/user/integration/platformio/ >
#
# * PlatformIO integration with Travis CI
#   < http://docs.platformio.org/page/ci/travis.html >
#
# * User Guide for `platformio ci` command
#   < http://docs.platformio.org/page/userguide/cmd_ci.html >
#
#
# Please choice one of the following templates (proposed below) and uncomment
# it (remove "# " before each line) or use own configuration according to the
# Travis CI documentation (see above).
#


#
# Template #1: General project. Test it using existing `platformio.ini`.
#

language: python
python:
  - "2.7"
install:
  - pip install -U platformio
  - platformio lib -g install 92
  - platformio lib -g install 7
script:
  - shash=$(echo ${TRAVIS_COMMIT} | cut -c 1-7)
  - sed -i -e "s/CiSubstErr/${shash}/g" ${TRAVIS_BUILD_DIR}/src/version.h
  - echo ${TRAVIS_BUILD_DIR}/src/version.h
  - platformio ci --keep-build-dir --board=moteino src/
before_deploy:
#  - cp .pioenvs/moteino/firmware.hex .pioenvs/moteino/rfm2pi-${shash}.hex
deploy:
  provider: releases
  api_key: $GITHUB_TOKEN
  file_glob: true
  file: .pioenvs/moteino/firmware.hex
  file: .pioenvs/moteino/rfm2pi-${shash}.hex
  skip_cleanup: true
  on:
    tags: true

#
# Template #2: The project is intended to by used as a library with examples
#

# language: python
# python:
#     - "2.7"
#
# env:
#     - PLATFORMIO_CI_SRC=path/to/test/file.c
#     - PLATFORMIO_CI_SRC=examples/file.ino
#     - PLATFORMIO_CI_SRC=path/to/test/directory
#
# install:
#     - pip install -U platformio
#
# script:
#     - platformio ci --lib="." --board=ID_1 --board=ID_2 --board=ID_N
